.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.background {
    height: 100%;
    width: 100vw;
    background-image: url(../assets/Background.png);
    filter: blur(4px);
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 0;
}

.header {
    z-index: 100;
    color: white;
    margin: 0 auto;
    padding-top: 5vh;
    font-family: 'Press Start 2P', cursive;
}

.header:hover {
    cursor: default;
}

#current-score{
    color: white;
    z-index: 100;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Press Start 2P', cursive;
}

#current-score:hover {
    cursor: default;
}

.middle-section {
    display: flex;
    justify-content: space-around;
}

.instructions-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: calc((100vw - 900px) / 14);
    z-index: 100;
    width: calc((100vw - 900px) * 3 / 7);
}

.instructions-div:hover {
    cursor: default;
}

.instructions-header{
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 24px;
    padding-bottom: 5vh;
}

.instructions {
    font-family: 'Press Start 2P', cursive;
    color: white;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    padding-right: calc((100vw - 900px) / 14);
    width: calc((100vw - 900px) * 3 / 7);;
}

.link {
    filter: invert(100%);
    padding: 10px;
    margin: 35%;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.link:hover {
    background: rgba(92, 92, 92, 0.5)
}

.hiscore-form {
    z-index: 10000;
    position: absolute; 
    top: 38vh;
    display: none;
    justify-content: center;
}

.hiscore {
    /* display: none; */
    align-self: center;
    padding: 8px;
    border-radius: 10px;
    font-family: "Press Start 2P";
    font-size: 14px;
    text-align: center;
    width: 35%;
    letter-spacing: -2px;
}

.hiscore:focus {
    outline: 0;
}